
/* menu bar*/
*{
    box-sizing: border-box; 
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
#menu1{
    margin: 0%;
    padding: 0%;
    background: #012;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 20;
    border-bottom: yellow 1px solid;
   
}
.col1{
    text-decoration: none;
    color: yellow;
    float: left;
    font-weight: 600px;
    margin-top: -1em;
    margin-right: 300px;
    transition: transform 0.5s;}
.col{
    text-decoration: none;
    color: yellow;
    float: left;
    font-weight: 600px;
    transition: transform 0.5s;
}


.col span{
    border: 2px solid blueviolet;
    border-radius: 100%;
    font-weight: 400px;
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-left: 40px;
    margin-right: 0.3em;
    text-align: center;
    line-height: 46px;
    color: blueviolet;
    background-color: yellow;
}

.col1 span{
    border: 2px solid blueviolet;
    border-radius: 100%;
    font-weight: 400px;
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-left: 40px;
    margin-right: 0.3em;
    text-align: center;
    line-height: 46px;
    color: blueviolet;
    background-color: yellow;
}

.col1:hover{
    color: white;
    transform:scale(1.1,1.1);
}
.col:hover{
    color: white;
    transform:scale(1.1,1.1);
}
.con{
    text-decoration: none;
    color: yellow;
    float: right;
    font-weight: 400;
    font-family: sans-serif;
    border-radius: 4em;
    margin-top: 1.3em;
    padding: .4em .3em;
    transition: background-color 0.3s ease-in-out;
    margin-right: 40px;
}
.con:hover{
    color: white;
    cursor: pointer;
    background-color: rgb(0, 225, 255);
    text-decoration: none;
}

.team ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.team ul li{
    width: 20%;
    float: left;
    text-align: center;
}
.team ul li img{
   box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
   border-radius: 100%;
   width: 55%;
   max-width: 60px;
   max-height: 60px; 
}
.team {
    background-color: #fff;
    width: 100%;
    height: 90px;
    
    
}
.team ul li p{
    margin-top: -5px;
    border-top: 2px solid blue;
    border-radius: 100%;
    color: #012;
    width: auto;
    padding: 20px;
    text-align: center;

}


.connect{
    background-color: #012;
    width: 400px;
    max-width: 30% auto;
    height: 300px;
    border-radius: 5%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    box-shadow: 0 2px 5px yellow; 
    position: relative;
    margin:0 auto;
    text-align: center;

}


.connect h1{
    color: yellow;
    font-size: 60px;
    font-family: helvetica;
    margin-bottom: 20px;
}

.box{
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    border: 2px solid   yellow;
    border-radius: 10%;
    outline-style: none;
}
#box{
    border-bottom: 50px;
}
#login
{
    width: 50%;
    height: 30px;
    background-color: green;
    color: white;
    margin-bottom: 10px;
    border-radius: 5%;
}
.connect p{
    color: white;
    margin-right: 180px;
}
#inscrire{
   text-decoration: none;
   color: white;
   width: 200px;
   height: 30px;
   border: 1px solid gray;
   background-color: green;
   margin: auto;
   border-radius: 5%;
}
/*formulaire d'inscription*/

.wrapper2{
    border: 1px solid #012;
    width: 100%;
    height: 580px;
    position: absolute;
    top: 60px;
    
}
.inscription{
    background-color: #012;
    width: 400px;
    max-width: 30% auto;
    height: 550px;
    border-radius: 5%;
    box-shadow: 0 2px 5px yellow; 
    position: relative;
    top: -25px;
    margin: 0 auto;
    text-align: center;
}
.inscription h1{
    color: yellow;
    font-size: 60px;
    box-shadow: 0 2px 5px #0cec;
    font-family: helvetica;
    margin-bottom: 40px;
    margin-bottom: 20px;
}


#sexe{
    color: white;
}
#sexe1{
    margin-bottom: 10px;
    height: 30px;
    width: 175px;
    border: 2px solid   yellow;
    border-radius: 10%;
    outline-style: none;
}
#registed{
    width: 50%;
    height: 30px;
    background-color: green;
    color: white;
    margin-bottom: 20px;
    border-radius: 5%;
}
.inscription p{
    color: white;
    margin-right: 180px;
    margin-top: 20px;
    margin-bottom: 10px;
}
/*menu bar du profil*/
.menubar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    background-color: gray;
    width: 100%;
    height: 40px;;

}
.menubar ul li{
    margin-right: 10px;
    padding-top: 0.3em;
    border-right: 1px solid yellow;
    display: block;
    float: left;
    text-align: center;
}
.menubar ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

/*stylisation de accueil*/
.clearflix:before , .clearflix:after{
    content: " ";
    display: table;
}

;.clearflix:after{
    clear: both;
}

.wrapper3{
    width: 1400px;
    max-width: 90%;
    margin: 0 auto;
}
.button_highlight {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 0.8em 2em;
    font-size: 1.1em;
    border-radius: 4px;
}

.button_highlight:hover{
    box-shadow: 0 0 0 2px rgba(182, 107, 205, 0.3), 0 1px 0 rgba(0, 0, 0, 0.35), inset 0 -1px 2px 0 rgba(0, 0, 0,0.05 );
    transition: all 0.3s;
}

.banner{
    background:  rgb(20, 205, 238);
    background-image: linear-gradient(
        to left top,
        rgb(238, 17, 190),
        rgb(20, 205, 238)
    );
    
}
.banner .banner_header{
    padding-top: 2em;
    text-align: center;
   
}
.banner .banner_nav ul {
    list-style: none;
    margin: 0 0 0 35px;
    padding: 0;
}
.banner .banner_nav ul li{
    float: left;
    margin-right: 1.8em;
}
.banner .banner_nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    border-radius: 4em;
    padding: .4em .3em;
    transition: background-color 0.3s ease-in-out;
}
#connect{
    color: white; 
    text-decoration: none;
    font-weight: 700;
    border-radius: 4em;
    padding: .4em .3em;
    transition: background-color 0.3s ease-in-out;
}
#connect:hover{
    cursor: pointer;
    color: yellow;
    background-color: #012;

}
.banner .banner_nav ul li a:hover{
    cursor: pointer;
    color: yellow;
    background-color: #012;

}
.banner_intro{
    text-align: center;
    margin-top: 6.5em;
}
.banner_intro h1{
    color: white;
    font-size: 4.5em;
    letter-spacing: -4px;
    text-shadow: -1px 1px 1px black;
    margin:0;
}



.banner_intro p{
    font-size: 1.3em;
    line-height: 1.8em;
    width: 800px;;
    max-width: 75%;
    margin: 0.8em auto;
}

.signup{
    padding: 2.5em 0 1.4em 0;
    border-bottom: 1px solid gray; 
}
.signup .left{
    float: left;
}
.signup .left h3{
    color: gray;
    font-size: 1.4em;
    margin-top: -0.1em;
}
.signup .right{
    float: right;
}
.signup .right a{
    margin-top: -0.6em;
    font-weight: 600;
}

.banner_slider{
    margin-top: 6em;
    position: relative;
}
.banner_slider .desktop{
    width: 90%;
    margin: 0 auto;
   
    background-color: white;
    border-radius: 8px 8px 0 0;
    
}
.banner_slider .desktop .toolbar{
    background-color: white;
    border-bottom: 2px solid gray;
    border-radius: 8px  8px 0 0;
    padding:  0.3em 0 0.3em 1.2em;
    text-align: left;
    
    
}
.banner_slider .desktop .toolbar span{
    display:  inline-block;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin-right: 4px;
    text-align: left;
}
.banner_slider .desktop .toolbar span.red{
    background-color: red;
}
.banner_slider .desktop .toolbar span.orange{
    background-color: orange;
}
.banner_slider .desktop .toolbar span.green{
    background-color: green;
}

.banner_slider .desktop .toolbar span:first-child{
    margin-left: 8px;
    
}

.banner_slider .desktop .content2{
    
    text-align: left;
}
.banner_slider .desktop .content2 img{
    display: inline-block;
    margin-bottom: -3px;
   
}

.banner_slider .mobile{
    background-color: white;
    width: 30%;
    margin-right: 70px;
    border-radius: 3em 3em 0 0;
    box-shadow: -2px -2px 40px rgba(0,0,0,0.2);
    position: absolute;
    right: 0;
    top: -18%;
    z-index: 10;
}
.banner_slider .mobile .toolbar_m{
    background-color: white;
    padding: 1.5em 0 1.2em 0;
    border-radius:  3em 3em 0 0;
    text-align: center;
}
.banner_slider .mobile .toolbar_m .micro{
    display: inline-block;
    background-color: gray;
    height: 10px;
    width: 10px;
    border-radius: 100%;

}
.banner_slider .mobile .toolbar_m .speaker{
    display: inline-block;
    background-color: gray;
    width: 60px;
    height: 10px;
    border-radius: 10px;
}

.banner_slider .mobile .content_m{
    border: 1px solid blue;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    margin: 0 14px;
    overflow: hidden; 
}
.banner_slider .mobile .content_m img{
    display: inline-block;
    margin-bottom: -0.3em;
    max-width: 100%;
}
.banner_slider .mobile .content_m .top_bar{
    background-color: #f4f5f7;
    color: #4e5a5f;
    padding: 5px 0;
    text-align: center;
}
.banner_slider .mobile .content_m .top_bar .time{
    font-weight: 700;
    font-size: 0.8em;
}
.banner_slider .mobile .content_m .top_bar .website{
    font-size: 1em;
}
.banner_slider .mobile .content_m .top_bar i{
    font-size: 0.6em;
}

/*mettre un commmentaire*/
.rightside{
    border: 1px solid gray;
    height: 500px;
    width: 400px;
    text-align: center;
    background-color: #cec;
}

.ecran {
    border: 1px solid gray;
    height: 500px;
    width: 800px;
    margin-left: 405px;
    margin-top: -500px;
    text-align: left;
    position: relative;
    background-color: #cec;
    border-radius: 60px;
}
.ecran span{
    padding: 14px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid blue;
    display: inline-block;
    width: 100%;
    color: blue;
}
.ecran .affichage {
    margin-left: 180px;
    text-align: center;
    
}
.ecran .affichage .bordure{
    width: 70%;
    text-align: center;
    padding: 10px;
    height: 30px auto;
    margin-bottom: 0.5em;
    border: 1px solid green;
    background-color: green;
    color: white;
    border-radius: 30px;
}
#commentaire{
    width: 1250px;
    height: 520px;
    display: inline-block;
    position: relative;
}

  #rep{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #quiz {
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  label {
    text-align: center;
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: 700;
  }
#menu,#menu ul {
    margin: 0px;
    padding: 0px;
    background-color: #012;
    list-style-type: none;
  }
  #menu li {
  
    margin: 0;
    display: inline-block;
    font-size: 12px;
    position: relative;
  }
  
  #menu a {
    display: block;
    font-size: 17px;
    width: 130px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    background-color: #012;
    color: white;
    text-decoration: none;
    font-family: tahoma;
     transition: background-color 1s;
  }
  #menu li ul{
  
    position: absolute;
    left: -5000px;
  }
  #menu li:hover > ul{
    left: 0px;
    transition: left 0.2s;
  }
  
  #menu li li:hover > ul{
    left: 130px;
    top: 0px;
  }
  #menu a:hover {
    color:#656;
    background-color: #cec; 
  }
  }
  #menu a:active {
    color:#656;
    background-color: #cec; 
  }
    
  
  #menu a.active {
    background-color: #04AA6D;
    color: white;
  } 
  
  
  /*stylisation des tables*/
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    margin: 0 auto;
    border: none;
  }
  
  #tab,#tab1,#tab2 {

    width: 60%;

  
  }
  @media screen and ( max-width:300px){
      th{
          color: white;
      }
  }
  
  th, td {
    text-align: center;
    padding: 16px;
  }
  
  th:first-child, td:first-child {
    text-align: left;
  }
  th{
    color: yellow;
    font-size: 25px;
    font-weight: 400;
    text-shadow: -1px 1px 1px 1px;
    background-color: #012;
  }
  
  tr:nth-child(even) {
    background-color: rgba(0,0,0,0.1);
  }

  
    .content{
      margin-top: 150px;
      background:rgb(133, 13, 156);
      background-image: linear-gradient(
        to left top,
        rgb(133, 13, 156),
        rgb(6, 243, 6)
    ); 
    }
  
    .content1{
      margin-top: 60px;
      background:rgb(133, 13, 156);
      background-image: linear-gradient(
        to left top,
        rgb(133, 13, 156),
        rgb(6, 243, 6)
    ); 
    }
  
  th, td {
    text-align: center;
    padding: 16px;
  }
  td{
      font-size: 1em;
      font-weight: 600;
  }
  
  th:first-child, td:first-child {
    text-align: left;
  }
  
  caption{
    color: yellow;
    font-size: 40px;
    font-weight: 400;
    text-shadow: -1px 1px 1px 1px;
    background-color: #012;
  }
  
  th{
    color: yellow;
    font-size: 25px;
    font-weight: 400;
    text-shadow: -1px 1px 1px 1px;
    background-color: #012;
  }
  
  tr:nth-child(even) {
    background-color: rgba(0,0,0,0.1);
  }
  
  .fa-check {
    color: green;
  }
  
  .fa-remove {
    color: red;
  }
  
  button{
    padding: 10px;
    background-color: green;
    color: white;
  }
  #menu{
    position: relative;
    top: 61px;
  }