.bod{
    margin: 0%;  
    padding: 0px;
    text-align: center; 



}
.title{
    
    background-color: #001199;
    width: 100%;
    color: #ffffff;
    height: 100px;
    position: fixed;
    z-index: 20;
}

.bann{
    
    top: 100px;
    background-color: aqua;
    width: 100%;
    color: #ffffff;
    height: 200px;
    position: relative;
    
}
.content{
    margin: 0px;
    padding: 0px;
    background-color: #daf;
    width: 100%;
    height: 2000px;
    top: 300px;
    position: relative;
    z-index: 10;
}